<!DOCTYPE html>
	<head>
	<title>Mini-Projekt</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="version" content="1.0">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script src="../script.js"></script>
	</head>
	<body>
		<article>
			<hgroup>
				<h1 id="title">Koch- und Sachb&uuml;cher</h1>
				<h2 id="subtitle">Entwicklung vom Altertum bis in die Neuzeit und Moderne</h2>
				<p class="author">Jonas Wallmann</p>
				<p class="author">Patrick Kachelmuss</p>
				<p class="author">Kai Durst</p>
				<h3 id="abstract">Dieser Abschnitt enthält die Kurzzusammenfassung des Kapitels. Die Länge soll nicht mehr als 700-900 Zeichen betragen. Dieser Abschnitt ist bisher 161 Zeichen lang.</h3>
			</hgroup>
			<section id="main">
				<h1>Haupttext</h1>
                <h2>Generelle Grundlagen und Begrifflichkeiten</h2>
                <p> 
                Das Sachbuch stellt das Gegenst&uuml;ck zur Belletristik in der Literatur dar. Es ist neben dem Lehrbuch und Fachbuch ein wichtiger Bestandteil der nicht-belletristischen Literatur. Im Gegensatz zum Lehrbuch hat es keinen grunds&auml;tzlich didaktischen Anspruch. Ebenso ist der Inhalt des Sachbuches gegen&uuml;ber der Fachliteratur ohne spezielle Vorkenntnisse auch von Laien zu verstehen und bedarf keiner fachspezifischen Bildung (bspw. handwerklich oder akademisch). <br>
                Sachb&uuml;cher lassen sich prinzipiell in die folgenden Kategorien einsortiert werden, die dann wiederrum feiner unterteilt werden: 
                </p>
                <p>
                	&diams; Medizin und Psychologie<br>
                    &diams; Technik und Naturwissenschaften<br>
                    &diams; Sozial- und Geisteswissenschaften<br>
					&diams; Kunst, Musik, Film und Literatur<br>
					&diams; Reiseb&uuml;cher, Natur, Tiere, Pflanzen, (Land-)Karten<br>
					&diams; Lexika und Nachschlagewerke<br>
					&diams; Biografien<br>
					&diams; Essen und Trinken<br>
                </p>
                <p>
               Innerhalb der Sachb&uuml;cher stellt das Kochbuch einen Teilbereich eben dieser dar. Das Kochbuch wird in den Sachbuchbereich „Essen und Trinken“ eingeordnet. Einzige Ausnahme sind hierbei spezielle Lehrb&uuml;cher für angehende Berufsk&ouml;che, die den Lehrb&uuml;chern zugeordnet werden k&ouml;nnen. 
Kochb&uuml;cher k&ouml;nnen grundlegend in die folgenden drei Kategorien eingeteilt werden: 
				</p>
                <p>
					&diams; Illustrierte Kochb&uuml;cher mit ausf&uuml;hrlichen Anleitungen zur Zubereitung, h&auml;ufig erg&auml;nzt durch Anmerkungen zur Herkunft des Rezepts oder dessen Zutaten<br>
                    &diams; Sammlung von Rezepten (oftmals Grundlagenrezepte) zur Vermittlung von Wissen an Lehrlinge in der Ausbildung zum Berufskoch<br>
                    &diams; Rezeptsammlungen (normalerweise ohne detaillierte Anleitung) f&uuml;r Berufsk&ouml;che, die bereits weitergehende Kenntnisse der Speisenzubereitung haben<br>
                </p>
                
                
				<p>
				Insgesamt soll der Haupttext ca. 7000 - 10000 Zeichen enthalten. <a href="http://dev.w3.org/html5/html-author/">Hyperlinks</a> sollen unterstrichen werden.
				</p>
				<h2>Unterüberschrift</h2>
				<p>
				Dies ist ein neuer Absatz im Haupttext.
				</p>
				<img src="image.png" alt="image"/>
				<figcaption class="label">So lässt sich ein Bild einfügen, das im gleichen Ordner liegt</figcaption>
			</section>
            
			<section id="impl">
				<h1>Implementationsreport (zum Praxisteil)</h1>
				<p>
				Der Implementationsreport umfasst 3000 - 4000 Zeichen.
				</p>
			</section>
			<section id="references">
				<h1>Referenzen</h1>
				<p>
				Referenzen sollen in diesem Abschitt aufgelistet werden
				</p>
				<ol>
					<li>Referenz A</li>
					<li>Referenz B</li>
					<li>Referenz C</li>
				</ol>
			</section>
		</article>
	</body>
</html>
